@model IEnumerable<Team404_v2.Models.Products>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    <div class="col-md-12">
        <p>
            @*@Html.ActionLink("Create New", "Create", new { @class = "btn"})*@
            <input type="button" class="btn btn-info" value="Create" onclick="location.href='@Url.Action("Create", "Products")'" />
        </p>
    </div>
</div>


<div class="row">
    <div class="col-sm-6 col-md-12">
        <table class="table">
            <tr>
                <th colspan="2">
                    @Html.DisplayNameFor(model => model.ItemTitle)
                </th>
                <th colspan="2">
                    @Html.DisplayNameFor(model => model.MiniDescription)
                </th>
                <th colspan="2">
                    @Html.DisplayNameFor(model => model.MiniDescription2)
                </th>
                <th colspan="2">
                    @Html.DisplayNameFor(model => model.MiniDescription3)
                </th>
                <th colspan="2">
                    @Html.DisplayNameFor(model => model.LongDescription1)
                </th>
                <th colspan="2">
                    @Html.DisplayNameFor(model => model.LongDescription2)
                </th>
                <th colspan="2">
                    @Html.DisplayNameFor(model => model.LongDescription3)
                </th>
                <th colspan="2">
                    @Html.DisplayNameFor(model => model.ItemLink)
                </th>
                <th colspan="2">
                    @Html.DisplayNameFor(model => model.Price1Name)
                </th>
                <th colspan="2">
                    @Html.DisplayNameFor(model => model.Price1Link)
                </th>
                <th colspan="2">
                    @Html.DisplayNameFor(model => model.Price2Name)
                </th>
                <th colspan="2">
                    @Html.DisplayNameFor(model => model.Price2Link)
                </th>
                <th colspan="2">
                    @Html.DisplayNameFor(model => model.Price3Name)
                </th>
                <th colspan="2">
                    @Html.DisplayNameFor(model => model.Price3Link)
                </th>
                <th colspan="2">
                    @Html.DisplayNameFor(model => model.ItemPrice)
                </th>
                <th colspan="2">
                    @Html.DisplayNameFor(model => model.ItemPrice2)
                </th>
                <th colspan="2">
                    @Html.DisplayNameFor(model => model.RemoveDetails)
                </th>
                <th colspan="2">
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th colspan="6">
                    Controls
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td colspan="2">
                        @Html.DisplayFor(modelItem => item.ItemTitle)
                    </td>
                    <td colspan="2">
                        @Html.DisplayFor(modelItem => item.MiniDescription)
                    </td>
                    <td colspan="2">
                        @Html.DisplayFor(modelItem => item.MiniDescription2)
                    </td>
                    <td colspan="2">
                        @Html.DisplayFor(modelItem => item.MiniDescription3)
                    </td>
                    <td colspan="2">
                        @Html.DisplayFor(modelItem => item.LongDescription1)
                    </td>
                    <td colspan="2">
                        @Html.DisplayFor(modelItem => item.LongDescription2)
                    </td>
                    <td colspan="2">
                        @Html.DisplayFor(modelItem => item.LongDescription3)
                    </td>
                    <td colspan="2">
                        @Html.DisplayFor(modelItem => item.ItemLink)
                    </td>
                    <td colspan="2">
                        @Html.DisplayFor(modelItem => item.Price1Name)
                    </td>
                    <td colspan="2">
                        @Html.DisplayFor(modelItem => item.Price1Link)
                    </td>
                    <td colspan="2">
                        @Html.DisplayFor(modelItem => item.Price2Name)
                    </td>
                    <td colspan="2">
                        @Html.DisplayFor(modelItem => item.Price2Link)
                    </td>
                    <td colspan="2">
                        @Html.DisplayFor(modelItem => item.Price3Name)
                    </td>
                    <td colspan="2">
                        @Html.DisplayFor(modelItem => item.Price3Link)
                    </td>
                    <td colspan="2">
                        @Html.DisplayFor(modelItem => item.ItemPrice)
                    </td>
                    <td colspan="2">
                        @Html.DisplayFor(modelItem => item.ItemPrice2)
                    </td>
                    <td colspan="2">
                        @Html.DisplayFor(modelItem => item.RemoveDetails)
                    </td>
                    <td colspan="2">
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td colspan="2">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn" })
                        @*<input type="button" class="btn btn-info" value="Edit" onclick="location.href='@Url.Action("Edit", "Products")'" id="item.Id"/>*@
                    </td>
                    <td colspan="2">
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                        @*<input type="button" class="btn btn-info" value="Details" onclick="location.href='@Url.Action("Details", "Products")'" />*@
                    </td>
                    <td colspan="2">
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        @*<input type="button" class="btn btn-danger" value="Delete" onclick="location.href='@Url.Action("Delete", "Products")'" />*@
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
