@using Team404_v2.Models;
@model BeginnerVM
@{
	ViewBag.PageTitle = "Beginner Bundles";
    ViewBag.PageName = "Noob Bundles";
}

@section css {
	<link href="~/Content/Bundle.css" rel="stylesheet" type="text/css" />

}


@foreach (var bb in Model.BeginnerItems)
{
	<div class="item">
		<img class="itemimages" src="~/Content/images/bundleimages/bundle1.jpg" height="200" width="180">
		<h4>@bb.BundleTitle</h4>
		<h2>$@bb.BundlePrice</h2>
		<br>
		<h4> Products in Bundle:</h4>
		<div class="minidescription2">
			<ul>
				<li>@bb.ProductName1</li>
				<li>@bb.ProductName2</li>
				<li>@bb.ProductName3</li>
			</ul>
			<button type="button" id="Link">@bb.BundleLink</button>
		</div>
	</div>

	<div id="hidden">
		<p><b>Feature Summaries</b></p>

		<button type="button" id="Wishlist">@bb.Wishlist</button>
		<button type="button" id="Remove">@bb.RemoveDetails</button>

		<table id="bundletable">
			<tr>
				<th id="colname">@bb.ProductName1</th>
				<th id="colname">@bb.ProductName2</th>
				<th id="colname">@bb.ProductName3</th>
			</tr>
			<tr>
				<td id="box">

					<ul>
						@foreach (var more in bb.MiniDescription1)
						{
							<li>@more</li>
						}
					</ul>
				</td>
				<td id="box">
					<ul>
						@foreach (var more in bb.MiniDescription2)
						{
							<li>@more</li>
						}
					</ul>
				</td>
				<td id="box">
					<ul>
						@foreach (var more in bb.MiniDescription3)
						{
							<li>@more</li>
						}
					</ul>
				</td>

			</tr>

		</table>
	</div>
}

