@model Team404_v2.Models.Bundles

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bundles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BundleTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BundleTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BundlePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BundlePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BundleLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BundleLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wishlist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wishlist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RemoveDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemoveDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiniD1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiniD1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiniD2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiniD2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiniD3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiniD3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiniD4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiniD4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiniD5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiniD5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiniD6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiniD6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiniD7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiniD7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiniD8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiniD8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiniD9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiniD9)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
