@using Team404_v2.Models;
@model CoolingSystemsVM

@{
    ViewBag.PageTitle = "Cooling Systems";
    ViewBag.PageName = "Cooling Systems";
}


@foreach (var CS in Model.CoolingSystemItems)
{
    <div class="item">
        <h4>@CS.ItemTitle</h4>
        <h2>@CS.ItemPrice</h2>
        <div class="minidescription">
            <ul>
                @foreach (var bp in CS.MiniDescription)
                {
                    <li>@bp</li>
                }
            </ul>
            <button class="Link"> @CS.ItemLink </button>
        </div>
    </div>
	<div id="hidden">
		<p><b>Feature Summary</b></p>
		<div id="long">
			<ul>
				@foreach (var more in CS.LongDescription)
				{
					<li>@more</li>
				}
			</ul>
			<button type="button" id="Wishlist">@CS.Wishlist</button>
			<button type="button" id="Remove">@CS.RemoveDetails</button>
		</div>
		<table id="pricetable">
			<tr>
				<th id="colname">Online Retailer</th>
				<th id="colname">Price</th>
			</tr>
			<tr>
				<td id="box">
					<a href="#" target="_blank">
						@CS.Price1Name
					</a>
				</td>
				<td id="box">$@CS.ItemPrice</td>
			</tr>
			<tr>
				<td id="box"><a href="#" target="_blank"></a>@CS.Price2Name</td>
				<td id="box">$@CS.ItemPrice2</td>
			</tr>
		</table>
	</div>
}