
@model Team404_v2.Models.ProductVM
@{
    ViewBag.PageTitle = "Motherboards";
    ViewBag.PageName = "Motherboards";
}


@foreach (var cpcase in Model.Products)
{
	<div class="item">
		<img class="itemimages" src="~/Content/images/computerpartsimages/Item1image.png" height="200" width="180">
		<h4>@cpcase.ItemTitle</h4>
		<h2>$@cpcase.ItemPrice</h2>
		<div class="minidescription">
			<ul>
				<li>@cpcase.MiniDescription</li>
				<li>@cpcase.MiniDescription2</li>
				<li>@cpcase.MiniDescription3</li>
			</ul>

			<button type="button" id="Link">@cpcase.ItemLink</button>
		</div>
	</div>

	<div id="hidden">
		<p><b>Feature Summary</b></p>
		<div id="long">
			<ul>
				<li>@cpcase.LongDescription1</li>
				<li>@cpcase.LongDescription2</li>
				<li>@cpcase.LongDescription3</li>
			</ul>
			<button type="button" id="Wishlist">@cpcase.Wishlist</button>
			<button type="button" id="Remove">@cpcase.RemoveDetails</button>
		</div>
		<table id="pricetable">
			<tr>
				<th id="colname">Online Retailer</th>
				<th id="colname">Price</th>
			</tr>
			<tr>
				<td id="box">
					<a href="https://www.newegg.com/Product/Product.aspx?Item=N82E16811353102" target="_blank">@cpcase.Price1Name
					</a>
				</td>
				<td id="box">$@cpcase.ItemPrice</td>
			</tr>
			<tr>
				<td id="box"><a href="https://www.amazon.com/DIYPC-Skyline-06-WG-Gaming-Computer-Docking/dp/B01L7QQI1U" target="_blank"></a>@cpcase.Price2Name</td>
				<td id="box">$@cpcase.ItemPrice2</td>
			</tr>
		</table>
	</div>
}