@using Team404_v2.Models;
@model SoundCardsVM

@{
    ViewBag.PageTitle = "Sound Cards";
    ViewBag.PageName = "Sound Cards";
}

@foreach (var SC in Model.SoundCardsItems)
{
    <div class="item">
        <h4>@SC.ItemTitle</h4>
        <h2>@SC.ItemPrice</h2>
        <div class="minidescription">
            <ul>
                @foreach (var bp in SC.MiniDescription)
                {
                    <li>@bp</li>
                }
            </ul>
            <button class="Link"> @SC.ItemLink </button>
        </div>
    </div>
	<div id="hidden">
		<p><b>Feature Summary</b></p>
		<div id="long">
			<ul>
				@foreach (var more in SC.LongDescription)
				{
					<li>@more</li>
				}
			</ul>
			<button type="button" id="Wishlist">@SC.Wishlist</button>
			<button type="button" id="Remove">@SC.RemoveDetails</button>
		</div>
		<table id="pricetable">
			<tr>
				<th id="colname">Online Retailer</th>
				<th id="colname">Price</th>
			</tr>
			<tr>
				<td id="box">
					<a href="#" target="_blank">
						@SC.Price1Name
					</a>
				</td>
				<td id="box">$@SC.ItemPrice</td>
			</tr>
			<tr>
				<td id="box"><a href="#" target="_blank"></a>@SC.Price2Name</td>
				<td id="box">$@SC.ItemPrice2</td>
			</tr>
		</table>
	</div>
}
